/* Remove the navbar's default rounded borders and increase the bottom margin */

body {overflow-x: hidden;}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

#nav {
  width:650px;
  margin:0 auto;
  margin-bottom: 0px;
  list-style:none;
}
#nav li {
  float:left;
}
#nav a {
  display:block;
  text-align:center;
  width:150px; /* fixed width */
  text-decoration:none;
}

.container ul li{
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

p {
  font-family: serif;
}

a {
  font-family: serif;
}

h2 {
  font-family: serif;
}

h3 {
  font-family: serif;
}

.navbar-default { border-color: black !important; }

#nav ul {
  display: inline-block;
  list-style-type: none;

}


.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: rgba(255,215,150,0.9);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 2px;
}

#myBtn2 {
  display: block;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background: rgba(255,215,150,0.9);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: rgba(255,215,150,0.7);
}

#myBtn2:hover {
  background-color: rgba(255,215,150,0.7);
}

#nav3 {
  display: none;
}
#nav4 {
  display: none;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 750px) {
  .carousel-caption {
    display: none;
  }
  #nav1{
    display: none;
  }
  #nav2{
    display: none;
  }
  #nav3 {
    display: block;
  }
  #nav4 {
    display: block;
  }
}